[security]
secret_key={{ vault_django_secret_key }}
allowed_hosts={{ public_hostname }}, {{ other_public_hostname }}

[mail]
api_key={{ vault_mailgun_api_key }}

[backup]
backup_access={{ vault_backup_access }}
backup_secret={{ vault_backup_secret }}
backup_bucket=green-menu-backup
backup_region=eu-west-3

[bugs]
rollbar_access_token={{ vault_rollbar_access_token: }}
