[program:{{ project_slug }}]
directory = {{ backend_path }} ;
command = {{ venv.path }}/bin/gunicorn {{ django_project_name }}.wsgi --name "{{ project_slug }}" --timeout {{ backend_timeout }} --workers={{ backend_workers }} --bind=localhost:{{ backend_application_port }} --user="{{ main_user }}"
user = {{ main_user }} ; User to run as
stdout_logfile = /var/log/telescoop/{{ project_slug }}/gunicorn_supervisor.log        ; Where to write log messages
redirect_stderr = true                                                ; Save stderr in the same log
environment=LANG="en_US.UTF-8",LC_ALL="en_US.UTF-8",PYTHONIOENCODING="utf8" ; Set UTF-8 as default encoding
